---
import type { Post } from '~/types'
import PostCategory from './PostCategory.astro'

interface Props {
  post: Post
  route: 'posts' | 'brain' | 'manifiests' | 'poetry'
}

const { post, route } = Astro.props

const categoryList = post.data.categories ?? []
---

<header flex="~ col gap-2">
  <h1 class="post-title">
    <a class="not-prose" href={`/${route}/${post.id}/`}>{post.data.title}</a>
    &nbsp;
    <a class="w-fit text-sm" href={`/authors/${post.data.author}`}>{post.data.author}</a>
  </h1>
  <div class="text-3.5">
    {categoryList.map((category) => <PostCategory category={category} />)}
  </div>
</header>
